.partsimg {
  position: absolute;
  width: 15vw;
  left: 43vw;
  top: 19vh;
}
.partstext {
  position: absolute;
  font-size: xx-large;
  left: 44.2vw;
  top: 36vh;
  color: #ffd366;
}
.whitepart {
  position: absolute;
  left: 35.2vw;
  top: 45.7vh;
  transform: rotate(0.8deg);
}
.servicetitle {
  color: #8558df;
  position: absolute;
  font-size: xx-large;
  left: 45.2vw;
  top: 51.8vh;
  z-index: 10;
}
#serviceone {
  left: 70.2vw;
  top: 60.3vh;
  font-size: x-large;
  transform: rotate(19deg);
}
